<div class="banner" style="background-image: url(<%= asset_path('banner1.jpeg') %>)">
  <h1>Save any kind of movies</h1>
  <p><%= link_to 'Create a movie list', new_list_path, class: 'btn btn-primary' %></p>
</div>
