.banner-btn{
  padding: 16px;
  border-radius: 16px 8px;
  background: $purple;
  color: white;
  text-decoration: none;
  margin-left: 16px;
  &:hover{
    opacity: 0.8;
    text-decoration: none;
    color: white;
    transition: all 1s ease-in-out;
  }
}
