.movie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
}
.card-movie {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: white;
  border-radius: 16px;
  img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
.card-movie-info {
  padding: 8px;
  margin: 8px;
}
.reg-card{
  color: white;
  background-image: url('https://i.pinimg.com/474x/67/61/a4/6761a4c4037ad0be953a8705dd277782.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(0.7);
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .movie-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .movie-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .movie-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
