.banner{
  background: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 32px);
  width: 100vw;
  padding: 0 0 32px;
  background-position: center;
  padding: 0 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  h1{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 1.2;
    width: 100%;
    margin: 0;
  }
}


