.navbar-lewagon {
  background: transparent;
  position: fixed;
  z-index: 100;
  width: 100vw;
  top: 0;
  transition: 0.5s background-color ease;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.nav-item{
  a{
    color: white;
    &:hover{
      opacity: 0.8;
    }
  }
}

.navbar-lewagon-color{
 background-color: $lacivert;
}
